@import "fonts.css"

clear_over_after =
  display block
  content ""
  visibility hidden
  height 0
  clear both

var_main_width = 600px
var_border_width = 1px
var_border_color = #eee
var_border_style = var_border_width solid var_border_color
var_task_module_background_color = #ddd
var_edit_mode_color = #eeb
var_task_module_height = 50px
var_padding_left_right = 5px
var_header_footer_height = 50px
var_header_footer_background_color = #333
var_header_footer_color = #fff
var_gray_color_for_text = #777

box_shadow_right_col =
  box-shadow:
    -4px 0 4px -2px (var_border_color - #222) inset,
    -3px 0 1px -1px var_gray_color_for_text + #222
box_shadow_left_col =
  box-shadow:
    4px 0 4px -2px (var_border_color - #222) inset,
    3px 0 1px -1px var_gray_color_for_text + #222
div
  box-sizing border-box

.tip_style
  color var_gray_color_for_text

.ui-icon
  display inline-block
  box-sizing border-box
  vertical-align text-bottom

.ui-icon-in-modal-window
  float left
  margin 0 7px 20px 0

.ui-tooltip
  padding 5px
  font bold 10px "HelveticaNeueCyr-Roman"

.ui-datepicker, .ui-dialog
  font-size 11px
  color var_gray_color_for_text

.placeholder
  box-sizing content-box
  height 28px
  border var_border_style
  background-color var_task_module_background_color
  font-size 12px
  padding ((var_task_module_height - @height - var_border_width * 2) / 2) 15px////////
  color var_gray_color_for_text

.left_col
  .placeholder
    {box_shadow_left_col}
.right_col
  .placeholder
    {box_shadow_right_col}

#blank
  display none

.task_module
  margin-bottom 10px
  position relative
  .task_main_block
    height var_task_module_height
    border var_border_style
    background-color var_task_module_background_color
    .task_first_row, .task_second_row
      height (var_task_module_height/2)
    .task_first_row
      padding-left var_padding_left_right
      line-height (var_task_module_height/2)
      font-size 12px
      .task_date_start, .task_date_end
        display inline-block
        width 62px
      input.task_date_start, input.task_date_end
        width 62px
        border none
        background-color var_edit_mode_color
        font-size inherit
      .task_button_edit, .task_button_cancel, .task_button_done, .task_button_delete, .task_button_backInWork/*&>div*/
        float left
        width 10%
        border-left var_border_style
        text-align center
        transition background-color 1s 0s
        &:hover
          cursor pointer
      .task_attr
        float left
        border-left none
        text-align left
      .task_button_edit:hover
        background-color #eeee66
      .task_button_cancel:hover, .task_button_delete:hover
        background-color #ee6666
      .task_button_done:hover, .task_button_backInWork:hover
        background-color #66ee66
    .task_second_row
      border-top var_border_style
      .task_title, .task_button_showComment
        float left
        line-height ((var_task_module_height/2) - var_border_width * 2)//23px
      .task_title
        width 85%
        padding 0 var_padding_left_right
        border-right var_border_style
        font-weight bold
        letter-spacing 0.1em
        height 23px
        overflow hidden
      input
        float left
        width 85%
        box-sizing border-box
        border none
        height ((var_task_module_height/2) - var_border_width * 2  - 1)//22px
        padding 0 var_padding_left_right
        background-color var_edit_mode_color
      .task_button_showComment
        width 15%
        height ((var_task_module_height/2) - var_border_width * 2)//23px
        text-align center
        transition background-color 1s 0s
        &:hover
          background-color #6666ee
          cursor pointer
  .task_comment
    width 95%
    position relative
    padding 10px var_padding_left_right
    background-color var_task_module_background_color
    border var_border_style
    border-top none
  textarea.task_comment
    width 90.75%
    background-color var_edit_mode_color
    height 75px
    resize none
    font-family "HelveticaNeueCyr-Roman"

.right_col
  .task_main_block
    {box_shadow_right_col}//box-shadow: -4px 0 4px -2px var_border_color inset, -3px 0 5px -1px var_gray_color_for_text
  .task_comment
    left 5%
    {box_shadow_right_col}
  .task_attr
    width 70%
  .task_button_delete, .task_button_backInWork
    display none
.left_col
  .task_main_block
    {box_shadow_left_col}//box-shadow: 4px 0 4px -2px var_border_color inset, 3px 0 5px -1px var_gray_color_for_text
  .task_comment
    left 0
    {box_shadow_left_col}
  .task_attr
    width 80%
  .task_button_edit, .task_button_cancel, .task_button_done
    display none






html,body
  height 100%
body
  background-color var_border_color
  font-family "HelveticaNeueCyr-Roman"
  font-size 12px
  &:before
    content ""
    position fixed
    width var_main_width
    left 50%
    margin-left - (var_main_width/2)
    top 0
    bottom 0
    background-color #ccc
    z-index -1

.wrap
  min-height 100%
  padding-bottom var_header_footer_height + 40px
.wrap_header
.wrap_footer
  background-color var_header_footer_background_color
.wrap_footer
  margin-top - var_header_footer_height

.header
.footer
  height var_header_footer_height
  padding 0 35px
  margin 0 auto
  width var_main_width
  color var_header_footer_color
  line-height @height
.header
  font-size 24px
  font-weight bold
  letter-spacing 0.1em
.footer
  font-size 12px
  box-shadow: 0 -1px 0 0 #777, 0 -2px 0 0 #888, 0 -4px 0 0 #999, 0 -5px 0 0 #bbb

h1
.header
.footer
.add_task form table td:first-child
.button_add_new_task
  font-family "KelsonSans-LightRU"

.main
  width var_main_width
  margin 0 auto
  box-shadow 0px 6px 5px -3px #777 inset
  &:after
    {clear_over_after}

.left_col, .right_col
  width 50%
  float left
  &>div
    padding-top 20px
    h1
      font-size 18px
      color var_border_color
      padding 15px

.left_col
  padding-right 20px
  &>div
    min-height 129px//20 (padding-top) + 48(height h1) + 50 (height task_module/placeholder) + 10 (margin-bottom task_module) + 1
    padding-bottom 1px
  div.add_task
    form
      background-color var_task_module_background_color
      border var_border_style
      padding 10px 0
      {box_shadow_left_col}//box-shadow: 4px 0 4px -2px var_border_color inset, 3px 0 5px -1px var_gray_color_for_text
      table
        width 100%
        td
          padding 5px 0
          .datepicker_start, .datepicker_end, .new_task_title
            font-family "HelveticaNeueCyr-Roman"
          .datepicker_start, .datepicker_end
            width 70px
            color var_gray_color_for_text
            padding-left var_padding_left_right
          .new_task_title
            width 89%//190px
            height 20px
            padding 0 var_padding_left_right
          .new_task_comment
            height 100px
            width 90%//190px
            resize none
            padding 3px var_padding_left_right
            font-family inherit
          .button_add_new_task
            width 96%//190px
            height 30px
            background-color var_header_footer_background_color
            border var_border_style
            color var_header_footer_color
            line-height @height
            text-align center
            cursor pointer
        td:first-child
          width 30%
          padding 10px 0 0 15px
          vertical-align top

.right_col
  padding-left 20px

